.card {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    background-color: var(--color-grey-11);
    border-radius: 16px;
    border: 1px;
    border-color: var(--color-grey-15);

}

.card__title {
    gap: 14px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px;
    
}

.card__name-vacancy {
    color: var(--color-white);
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;

}

.card__tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    

}


.card__content-list {
    margin: 50px;
}

.card__subtitle {
font-weight: 600px;
font-style: SemiBold;
font-size: 24px;
line-height: 150%;
color: var(--color-white);
margin-bottom: 20px;

}
.card__description {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--color-grey-70);
    
}
.card__list {
        display: flex;
        gap: 20px;
        flex-direction: column;
        font-weight: 300;
        font-size: 18px;
        color: var(--color-grey-70);
        line-height: 150%;
        letter-spacing: 0%;
}

.card__list li {
position: relative;
padding-left: 34px;

}

.card__list  li::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(/images/Iconsvg.svg);
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
}