@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-Thin.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-ExtraLight.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-Light.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-Regular.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-Medium.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-SemiBold.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-Bold.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-ExtraBold.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend/Lexend-Black.woff2') format('woff2'),
    url('../fonts/Lexend/Lexend-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
