.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-grey-11);
    padding: 20px 34px;
    border-radius: 100px;
    border: 1px solid var(--color-grey-15);

}

.header__logo-link {
    width: 156px;
    height: 40px;
}

.header__nav-list {
    display: flex;
    gap: 26px;
}

.header__nav-link {
    color: var(--color-white);
    font-weight: 400;
    line-height: 150%;
}

.header__nav-link--active {
    background: var(--color-grey-15);
    padding: 12px 20px;
    border-radius: 82px;
}

.header__actions {
    display: flex;
    gap: 30px;
}

.header__btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    border: none;
    cursor: pointer;
}

.header__btn--signup {
    background: none;
    padding: 0;
    color: var(--color-white);
}

.header__btn--login {
    background: var(--color-green-60);
    padding: 14px 30px;
    border-radius: 82px;
    color: var(--color-grey-11);
}
.header__button-burger {
    display: none;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 768px) {
.header__content {
    padding: 14px;
    width: 100%;
    


}
.header__nav, .header__actions {
    display: none;
}
.header__logo {
    width: 101px;
    height: 26px;
}
.header__logo-img{
    width: 100%;
    height: 100%;
}
.header__button-burger{
    display: block; 
    border-radius: 82px;
    padding: 6px 14px;
    background-color: var(--color-green-60);

}


}

