/* ========================================
   БАЗОВЫЕ СТИЛИ И СБРОС
   ======================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* ========================================
   CSS ПЕРЕМЕННЫЕ
   ======================================== */
:root {

    --color-white: #FFF;
    --color-black: #000;

    --color-green-60: #CAFF33;
    --color-green-65: #D1FF4C;
    --color-green-70: #D8FF66;
    --color-green-80: #E5FF99;
    --color-green-90: #F2FFCC;
    --color-green-95: #F8FFE5;
    --color-green-97: #FBFFF0;
    --color-green-99: #FEFFFA;


    --color-white-90: #E4E4E7;
    --color-white-95: #F1F1F3;
    --color-white-97: #F7F7F8;
    --color-white-99: #FCFCFD;


    --color-grey-10: #191919;
    --color-grey-11: #1C1C1C;
    --color-grey-15: #262626;
    --color-grey-20: #333333;
    --color-grey-30: #4C4C4D;
    --color-grey-35: #59595A;
    --color-grey-40: #656567;
    --color-grey-60: #98989A;
    --color-grey-70: #B3B3B3;
    --color-grey-75: #BFBFBF;

    /* Typography */
    --font-primary: 'Lexend', sans-serif;
}


html {
    scroll-behavior: smooth;
}
main {
 overflow: hidden;
}
body {
    font-family: var(--font-primary);
    color: var(--color-grey-70);
    background-color: var(--color-grey-10);
    padding: 50px 0;
    font-size: 18px;
    letter-spacing: 0;
}


.container {
    max-width: 1920px;
    padding: 0 162px;

}

@media screen and (max-width:1250px){

    .container {
        padding: 0 50px;
    }

}
@media screen and (max-width:768px){

    .container {
        padding: 0 16px;
    }

    body {
        padding: 40px 0;
    }
}