.tag {
    max-width: max-content;
    background-color: var(--color-grey-10);
    border-radius: 68px;
    border-width: 1px;
    padding: 8px 16px;
    border: 1px;
    border-color: var(--color-grey-15);
}